body {
    /* overflow-y: hidden; */
    overflow-x: hidden;
    margin: 0;
    background-color: #1D222A;
    font-family: 'Roboto Mono', monospace;
}

#info {
    height: 250px;
    width: 250px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
                
    color: red;
    text-align: center;
                
    z-align: 1000; 
    display: none;
}

.portrait {
    width: 125px;
    height: 253px;
}

a {
  color: hotpink;
} 

.diet-factors {
    background-color: #DDDDDD;
    color: black;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;
    width: 100vw;
    height: 100vh;
  }
  
.grid-item {
    color: white; 
    width: 25vw;
    height: 50vh;
    font-size: 5vw; 
  }

.grid-chart {
    grid-row: 2/4;
    height: 50vh;
}

.large-chart{
    grid-column: 1 / span 2;
}

.large-chart-right{
    grid-column: 3 / span 2;
}
  
  .grid > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

div#temperature.grid-item  {
    background-color: #252A33;
}

div#pressure.grid-item {
    background-color: #252A33;
}

.label {
    font-size: 24px;
}

.value {
    font-size: 70px;
}

#temperatureChart, #pressureChart {
    margin-top: 15px;
}

hr {
    border-top: 1px dotted white;
}
